USE master
GO
IF EXISTS(SELECT * FROM sys.databases WHERE name='CAYTHUOCVN')
	DROP DATABASE CAYTHUOCVN
GO
CREATE DATABASE CAYTHUOCVN
GO
USE CAYTHUOCVN
GO

CREATE TABLE QUANLY(
	MA_QL			VARCHAR(50)  PRIMARY KEY,
	TEN_QL			NVARCHAR(50) NOT NULL,
	MAT_KHAU		NVARCHAR(50) NOT NULL,
	DIA_CHI			NVARCHAR(200),
	EMAIL			VARCHAR(100) NOT NULL,
	SO_DIEN_THOAI	VARCHAR(20),
	NGAY_SINH		DATE NOT NULL,
	IS_ADMIN		BIT
)
GO
INSERT INTO QUANLY(MA_QL,TEN_QL,MAT_KHAU,DIA_CHI,EMAIL,SO_DIEN_THOAI,NGAY_SINH,IS_ADMIN) VALUES(
	'san93st','Phan Dinh San','1234567','Tu Son - Bac Ninh','san93st@gmail.com','01654560864','3/21/1993',1
)
INSERT INTO QUANLY(MA_QL,TEN_QL,MAT_KHAU,DIA_CHI,EMAIL,SO_DIEN_THOAI,NGAY_SINH,IS_ADMIN) VALUES(
	'datkm','Nguyen Trong Dat','1234567','Hai Duong','datkm@gmail.com','012349340343','5/3/1993',0
)
INSERT INTO QUANLY(MA_QL,TEN_QL,MAT_KHAU,DIA_CHI,EMAIL,SO_DIEN_THOAI,NGAY_SINH,IS_ADMIN) VALUES(
	'thangnt','Nguyen Huu Thang','1234567','Tu Son - Bac Ninh','thang@gmail.com','01234932423','4/28/1993',0
)
GO
SELECT * FROM QUANLY
GO

CREATE TABLE LIENHE(
	EMAIL			VARCHAR		(100)	PRIMARY KEY,
	TEN_HIENTHI		NVARCHAR	(50)	NOT NULL,
	TIEU_DE			NVARCHAR	(500)			,
	NOI_DUNG		NTEXT				NOT NULL,
	TRANG_THAI		BIT DEFAULT			0,
	SO_DIEN_THOAI	VARCHAR				(20),
	NGAY_GUI		DATE				NOT NULL,
	THOI_GIAN_LH	DATE,
	MA_QL			VARCHAR(50) FOREIGN KEY REFERENCES QUANLY(MA_QL) ON DELETE CASCADE ON UPDATE CASCADE			
)
GO
INSERT INTO LIENHE(EMAIL,TEN_HIENTHI,TIEU_DE,NOI_DUNG,SO_DIEN_THOAI,NGAY_GUI)
VALUES('san93st@gmail.com',N'Phan Dinh San','Cay thuoc actiso chua duoc benh gi','kinh gui ban quan tri, toi muon hoi ve mot so van de lien quan den cay thuoc actiso va nhieu cau hoi khac van valkadfk','01654560864',GETDATE())
INSERT INTO LIENHE(EMAIL,TEN_HIENTHI,TIEU_DE,NOI_DUNG,SO_DIEN_THOAI,NGAY_GUI)
VALUES('tieusan@gmail.com',N'Phan Tiểu San','Cay thuoc actiso chua duoc benh gi','kinh gui ban quan tri, toi muon hoi ve mot so van de lien quan den cay thuoc actiso va nhieu cau hoi khac van valkadfk','094564506',GETDATE())
INSERT INTO LIENHE(EMAIL,TEN_HIENTHI,TIEU_DE,NOI_DUNG,SO_DIEN_THOAI,NGAY_GUI)
VALUES('dinhcuong@gmail.com',N'Phan Dinh Cường','Cay thuoc actiso chua duoc benh gi','kinh gui ban quan tri, toi muon hoi ve mot so van de lien quan den cay thuoc actiso va nhieu cau hoi khac van valkadfk','3453',GETDATE())
GO
SELECT * FROM LIENHE
GO


GO

CREATE TABLE HO_CAYTHUOC(
	MA_HO			INT PRIMARY KEY IDENTITY(1,1),
	TEN_HIEN_THI	NVARCHAR(100) NOT NULL,
	TEN_KH			VARCHAR	(100) NOT NULL,
	MA_QL			VARCHAR(50)	FOREIGN KEY REFERENCES QUANLY(MA_QL) ON DELETE CASCADE ON UPDATE CASCADE
)
GO
INSERT INTO HO_CAYTHUOC(TEN_HIEN_THI,TEN_KH,MA_QL) VALUES('Cà phê','Rubiaceae','san93st')
INSERT INTO HO_CAYTHUOC(TEN_HIEN_THI,TEN_KH,MA_QL) VALUES('Cam','Rutaceae','thangnt')
INSERT INTO HO_CAYTHUOC(TEN_HIEN_THI,TEN_KH,MA_QL) VALUES('Cúc','Asteraceae','giangtv')
SELECT * FROM HO_CAYTHUOC


GO

CREATE TABLE CAYTHUOC(
	MA_CAY			INT IDENTITY(1,1) PRIMARY KEY,
	TEN_HIEN_THI	NVARCHAR(100) NOT NULL,
	TEN_KH			VARCHAR(100) NOT NULL,
	NOI_DUNG		NTEXT NOT NULL,
	TRANG_THAI		BIT,
	MA_HO			INT FOREIGN KEY REFERENCES HO_CAYTHUOC(MA_HO) ON DELETE	CASCADE ON UPDATE CASCADE,
	MA_QL			VARCHAR(50) FOREIGN KEY REFERENCES QUANLY(MA_QL)	
)
GO
select * from TEN_DAN_GIAN

CREATE TABLE TEN_DAN_GIAN(
	MA_TEN			INT IDENTITY(1,1) PRIMARY KEY,
	MA_CAY			INT FOREIGN KEY REFERENCES CAYTHUOC(MA_CAY) ON DELETE CASCADE ON UPDATE CASCADE,
	TEN				NVARCHAR(100) NOT NULL UNIQUE,
)
GO

CREATE TABLE ANH_CAYTHUOC(
	MA_ANH			INT IDENTITY(1,1) PRIMARY KEY,
	MA_CAY			INT FOREIGN KEY REFERENCES CAYTHUOC(MA_CAY) ON DELETE CASCADE ON UPDATE CASCADE,
	TEN_ANH			NVARCHAR(50) NOT NULL,
	URL				NVARCHAR(100) NOT NULL,
	
)
GO

CREATE TABLE BAITHUOC(
	MA_BAI_THUOC	INT IDENTITY(1,1) PRIMARY KEY,
	MA_CAY			INT FOREIGN KEY REFERENCES CAYTHUOC(MA_CAY) ON DELETE CASCADE ON UPDATE CASCADE,
	NOI_DUNG		NTEXT NOT NULL
)
GO
SELECT * FROM QUANLY
SELECT * FROM LIENHE
SELECT * FROM CAYTHUOC
SELECT * FROM HO_CAYTHUOC
SELECT * FROM ANH_CAYTHUOC
SELECT * FROM TEN_DAN_GIAN
SELECT * FROM BAITHUOC

-----------------------------PROCEDURE CHO CÁC NGHIỆP VỤ TRANG WEB-------------------------------
USE CAYTHUOCVN
GO
----------------------------PROCEDURE CHO BẢNG QUANLY------------------------------------------

------------------------------KIỂM TRA ĐĂNG NHẬP CỦA QUẢN LÝ_----------------------------------
CREATE PROCEDURE CHECK_LOGIN
	@USERNAME VARCHAR(50),
	@EMAIL	  VARCHAR(100),
	@PASS	  NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON
	IF NOT EXISTS (SELECT * FROM QUANLY WHERE MA_QL=@USERNAME OR EMAIL=@EMAIL)
		SELECT 0 AS BIT
	ELSE
		IF EXISTS (SELECT * FROM QUANLY WHERE MAT_KHAU = @PASS)
			SELECT MA_QL,TEN_QL,IS_ADMIN,MAT_KHAU,EMAIL FROM QUANLY WHERE MA_QL = @USERNAME OR EMAIL=@EMAIL
		ELSE 
			SELECT 0 AS BIT
END
GO
-------------------PROCEDURE LẤY TẤT CẢ DANH SÁCH NGƯỜI QUẢN LÝ--------------------------------
CREATE PROCEDURE GET_ALL_QUANLY
AS
BEGIN
	SELECT * FROM QUANLY
END
GO
--------------------PROCEDURE SỬA THÔNG TIN NGƯỜI QUẢN LÝ-------------------------------------
CREATE PROCEDURE UPDATE_QUANLY
	@MA_QL			VARCHAR(50),
	@TEN_QL			NVARCHAR(50),
	@DIA_CHI		NVARCHAR(200),
	@EMAIL			VARCHAR(100),
	@SO_DIEN_THOAI	VARCHAR(20),
	@NGAY_SINH		DATE
AS
BEGIN
	UPDATE QUANLY SET TEN_QL=@TEN_QL,DIA_CHI=@DIA_CHI,EMAIL=@EMAIL,SO_DIEN_THOAI=@SO_DIEN_THOAI,
	NGAY_SINH=@NGAY_SINH WHERE MA_QL=@MA_QL
END
GO
--------------------PROCEDURE SUA THONG TIN QUAN LY DO ADMIN SUA-------------------------
CREATE PROCEDURE UPDATE_QUANLY_ADMIN
	@MA_QL			VARCHAR(50),
	@TEN_QL			NVARCHAR(50),
	@DIA_CHI		NVARCHAR(200),
	@EMAIL			VARCHAR(100),
	@SO_DIEN_THOAI	VARCHAR(20),
	@NGAY_SINH		DATE,
	@IS_ADMIN		BIT
AS
BEGIN
	UPDATE QUANLY SET TEN_QL=@TEN_QL,DIA_CHI=@DIA_CHI,EMAIL=@EMAIL,SO_DIEN_THOAI=@SO_DIEN_THOAI,
	NGAY_SINH=@NGAY_SINH,IS_ADMIN=@IS_ADMIN WHERE MA_QL=@MA_QL
END
GO
------------------------PROCEDURE THÊM QUẢN LÝ MỚI------------------------------------------
CREATE PROCEDURE INSERT_QUANLY
	@MA_QL			VARCHAR(50),
	@TEN_QL			NVARCHAR(50),
	@DIA_CHI		NVARCHAR(200),
	@EMAIL			VARCHAR(100),
	@SO_DIEN_THOAI	VARCHAR(20),
	@NGAY_SINH		DATE,
	@IS_ADMIN		BIT
AS
BEGIN
	INSERT INTO QUANLY(MA_QL,TEN_QL,MAT_KHAU,DIA_CHI,EMAIL,SO_DIEN_THOAI,NGAY_SINH,IS_ADMIN) VALUES(
	@MA_QL,@TEN_QL,'1234567',@DIA_CHI,@EMAIL,@SO_DIEN_THOAI,@NGAY_SINH,@IS_ADMIN)
END
GO
---------------PROCEDURE LẤY DANH SÁCH QUẢN LÝ MA_QL--------------------------
CREATE PROCEDURE GET_QUANLY_MA_QL
	@MA_QL VARCHAR(50)
AS
BEGIN
	SELECT * FROM QUANLY WHERE MA_QL = @MA_QL
END
GO

-----------------PROCEDURE XÓA QUẢN LÝ THEO MÃ QUẢN LÝ-----------------------
CREATE PROCEDURE DELETE_QUANLY_MAQL
	@MA_QL VARCHAR(50)
AS
BEGIN
	IF EXISTS (SELECT * FROM CAYTHUOC WHERE MA_QL=@MA_QL)
		DELETE CAYTHUOC WHERE MA_QL = @MA_QL
	DELETE QUANLY WHERE MA_QL = @MA_QL
END
GO
----------------------------PROCEDURE KHÔI PHỤC MẬT KHẨU------------------
CREATE PROCEDURE RESET_PASSWORD
	@MA_QL VARCHAR(50)
AS
BEGIN
	UPDATE QUANLY SET MAT_KHAU='1234567' WHERE MA_QL = @MA_QL 
END
GO
-------------------------PROCEDURE ĐỔI MẬT KHẨU---------------------------
CREATE PROCEDURE DOI_MATKHAU
	@MA_QL VARCHAR(50),
	@NEWPASS NVARCHAR(50)
AS
BEGIN
	UPDATE QUANLY SET MAT_KHAU=@NEWPASS WHERE MA_QL=@MA_QL
END
GO

------------------------------PROCEDURE CHO BẢNG HO_CAYTHUOC--------------------------------------

-------------------------------PROCEDURE LẤY TẤT CẢ HỌ CÂY THUỐC----------------------------------
CREATE PROCEDURE GET_ALL_HOCAYTHUOC
AS
BEGIN
	SELECT * FROM HO_CAYTHUOC ORDER BY TEN_HIEN_THI ASC
END
GO
---------------------------PROCEDURE THÊM HỌ CÂY THUỐC MỚI---------------------------------------
CREATE PROCEDURE INSERT_HOCAYTHUOC
	@TEN_HT NVARCHAR(100),
	@TEN_KH VARCHAR(100),
	@MA_QL	VARCHAR(50)
AS
BEGIN
	INSERT INTO HO_CAYTHUOC(TEN_HIEN_THI,TEN_KH,MA_QL) VALUES (@TEN_HT,@TEN_KH,@MA_QL)
END
GO
----------------------------PROCEDURE SỬA HỌ CÂY THUỐC THEO MA_HO-------------------------------
CREATE PROCEDURE UPDATE_HOCAYTHUOC
		@MA_HO	INT,
		@TEN_HT NVARCHAR(100),
		@TEN_KH VARCHAR(100)
AS
BEGIN
	UPDATE HO_CAYTHUOC SET TEN_HIEN_THI=@TEN_HT,TEN_KH=@TEN_KH WHERE MA_HO=@MA_HO
END
GO
----------------------------PROCEDURE LẤY HỌ CÂY THUỐC THEO MA_HO------------------------------
CREATE PROCEDURE GET_HOCAYTHUOC_MAHO
	@MA_HO INT
AS
BEGIN
	SELECT * FROM HO_CAYTHUOC WHERE MA_HO=@MA_HO
END
GO
-----------------------PROCEDURE XÓA HỌ CÂY THUỐC VỚI MA_HO-----------------------------------
CREATE PROCEDURE DELETE_HOCAYTHUOC
	@MA_HO INT
AS
BEGIN
	DELETE HO_CAYTHUOC WHERE MA_HO = @MA_HO
END
GO
------------------------------PROCEDURE CHO BẢNG LIÊN HỆ--------------------------------------

---------------PROCEDURE LẤY TẤT CẢ CÁC LIÊN HỆ CHƯA ĐƯỢC NGƯỜI QUẢN LÝ LIÊN HỆ---------------
CREATE PROCEDURE GET_ALL_LIENHE_CHUAXULY
AS
BEGIN
	SELECT * FROM LIENHE WHERE TRANG_THAI=0
END
GO
-------------PROCEDURE LẤY TẤT CẢ CÁC LIÊN HỆ ĐÃ ĐƯỢC LIÊN HỆ---------------------------------
CREATE PROCEDURE GET_ALL_LIENHE_DAXULY
AS
BEGIN
	SELECT * FROM LIENHE WHERE TRANG_THAI=1
END
GO
---------------------------PROCEDURE LẤY LIÊN HỆ VỚI EMAIL ĐÃ CHO-----------------------------
CREATE PROCEDURE GET_ALL_LIENHE_EMAIL
	@EMAIL VARCHAR(100)
AS
BEGIN
	SELECT * FROM LIENHE WHERE EMAIL=@EMAIL
END
GO

----------------------PROCEDURE SỬA LIÊN HỆ THEO EMAIL----------------------------------------
cREATE PROCEDURE UPDATE_LIENHE
	@EMAIL VARCHAR(100),
	@TRANGTHAI BIT,
	@MA_QL	VARCHAR(50)
AS
BEGIN
	UPDATE LIENHE SET TRANG_THAI=@TRANGTHAI,THOI_GIAN_LH = GETDATE(),MA_QL=@MA_QL WHERE EMAIL=@EMAIL
END
GO
------------------------------------PROCEDURE THÊM LIÊN HỆ MỚI--------------------------------
CREATE PROCEDURE INSERT_LIENHE
	@EMAIL			VARCHAR		(100),
	@TEN_HIENTHI	NVARCHAR	(50)	,
	@TIEU_DE		NVARCHAR	(500)			,
	@NOI_DUNG		NTEXT		,
	@SO_DIEN_THOAI	VARCHAR		(20)		
AS
BEGIN
	INSERT INTO LIENHE(EMAIL,TEN_HIENTHI,TIEU_DE,NOI_DUNG,SO_DIEN_THOAI,NGAY_GUI)VALUES(@EMAIL,@TEN_HIENTHI,@TIEU_DE,@NOI_DUNG,@SO_DIEN_THOAI,GETDATE())
END
GO
---------------------------PROCEDURE XÓA LIÊN HỆ VỚI EMAIL TƯƠNG ỨNG-------------------------
CREATE PROCEDURE DELETE_LIENHE
	@EMAIL VARCHAR(100)
AS
BEGIN
	DELETE LIENHE WHERE EMAIL=@EMAIL
END

GO
-------------------------------------PROCEDURE CHO BẢNG CÂY THUỐC--------------------------------

---------------------------------PROCEDURE LẤY TẤT CẢ DANH SÁCH CÂY THUỐC-------------------
CREATE PROCEDURE GET_ALL_CAYTHUOC
AS
BEGIN
	SELECT C.MA_CAY,C.TEN_HIEN_THI,C.TEN_KH,H.TEN_HIEN_THI AS HO_CAY_THUOC,C.MA_QL FROM CAYTHUOC AS C INNER JOIN HO_CAYTHUOC AS H ON C.MA_HO = H.MA_HO
END
GO
---------------------------PROCEDURE LẤY CÂY THUỐC THEO MÃ CÂY THUỐC ------------------------
CREATE PROCEDURE GET_CAYTHUOC_MACAY
	@MA_CAY INT
AS
BEGIN
	SELECT * FROM CAYTHUOC WHERE MA_CAY = @MA_CAY
END
GO
--------------------------PROCEDURE THÊM MỚI CÂY THUỐC---------------------------------
CREATE PROCEDURE INSERT_CAYTHUOC
	@TEN_HIEN_THI NVARCHAR(100),
	@TEN_KH		VARCHAR(100),
	@NOI_DUNG	NTEXT,
	@TRANG_THAI	BIT,
	@MA_HO		INT,
	@MA_QL		VARCHAR(50)
AS
BEGIN
	INSERT INTO CAYTHUOC(TEN_HIEN_THI,TEN_KH,NOI_DUNG,TRANG_THAI,MA_HO,MA_QL) VALUES
	(@TEN_HIEN_THI,@TEN_KH,@NOI_DUNG,@TRANG_THAI,@MA_HO,@MA_QL)
END
GO
----------------------PROCEDURE SỬA CÂY THUỐC VỚI MA_CAY-----------------------------------
CREATE PROCEDURE UPDATE_CAYTHUOC
	@MA_CAY INT,
	@TEN_HIEN_THI NVARCHAR(100),
	@TEN_KH		VARCHAR(100),
	@NOI_DUNG	NTEXT,
	@TRANG_THAI	BIT,
	@MA_HO		INT,
	@MA_QL		VARCHAR(50)
AS
BEGIN
	UPDATE CAYTHUOC SET TEN_HIEN_THI=@TEN_HIEN_THI,TEN_KH=@TEN_KH,NOI_DUNG=@NOI_DUNG,TRANG_THAI=@TRANG_THAI,MA_HO=@MA_HO,MA_QL=@MA_QL WHERE MA_CAY=@MA_CAY
END
GO

---------------------PROCEDURE XÓA CÂY THUỐC THEO MA_CAY----------------------------------
CREATE PROCEDURE DELETE_CAYTHUOC
	@MA_CAY INT
AS
BEGIN
	DELETE CAYTHUOC WHERE MA_CAY=@MA_CAY
END
GO
-------------------------PROCEDURE LẤY TÊN CỦA CÂY THEO MÃ CÂY----------------------
CREATE PROCEDURE GET_TENCAY_MACAY
	@MA_CAY INT
AS 
BEGIN
	SELECT TEN_HIEN_THI FROM CAYTHUOC WHERE MA_CAY = @MA_CAY
END
GO

--------------------PROCEDURE LẤY DANH SÁCH CÂY THUỐC HIỂN THỊ BÊN CLIENT-----------

CREATE PROCEDURE GET_CAYTHUOC_CLIENT
AS
BEGIN
	select CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH,HO_CAYTHUOC.TEN_HIEN_THI,MIN(ANH_CAYTHUOC.URL) AS URL
	from CAYTHUOC
	inner join HO_CAYTHUOC on CAYTHUOC.MA_HO=HO_CAYTHUOC.MA_HO 
	left join ANH_CAYTHUOC on caythuoc.MA_CAY=ANH_CAYTHUOC.MA_CAY 
	GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH,HO_CAYTHUOC.TEN_HIEN_THI 
	ORDER BY CAYTHUOC.TEN_HIEN_THI
END
GO
--select CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH,MIN(ANH_CAYTHUOC.URL) AS URL
--from CAYTHUOC left join ANH_CAYTHUOC on caythuoc.MA_CAY=ANH_CAYTHUOC.MA_CAY GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH ORDER BY CAYTHUOC.TEN_HIEN_THI

--------------------PROCEDURE LẤY DANH SÁCH CÂY THUỐC HIỂN THỊ BÊN CLIENT THEO MÃ HỌ-----------

CREATE PROCEDURE GET_CAYTHUOC_CLIENT_MAHO 
	@MAHO INT
AS
BEGIN
	select CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH,MIN(ANH_CAYTHUOC.URL) AS URL
	from CAYTHUOC left join ANH_CAYTHUOC on caythuoc.MA_CAY=ANH_CAYTHUOC.MA_CAY 
	GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,CAYTHUOC.TEN_KH,CAYTHUOC.MA_HO 
	HAVING CAYTHUOC.MA_HO=@MAHO
	ORDER BY CAYTHUOC.TEN_HIEN_THI
END
GO
-----------------------PROCEDURE SEARCH CAY THUOC-------------------------------------
ALTER PROCEDURE SEARCH_CAYTHUOC
	@PREFIX NVARCHAR(100)
AS
BEGIN
		
SELECT CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,MIN(ANH_CAYTHUOC.URL) AS URL FROM CAYTHUOC 
						INNER JOIN ANH_CAYTHUOC ON CAYTHUOC.MA_CAY=ANH_CAYTHUOC.MA_CAY
						INNER JOIN TEN_DAN_GIAN ON TEN_DAN_GIAN.MA_CAY = CAYTHUOC.MA_CAY
						WHERE FREETEXT(TEN_DAN_GIAN.TEN,@PREFIX)
						GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI
END
GO
------------------------------PROCEDURE SEARCH CAYTHUOC THEO HO CAY THUOC----------------
CREATE PROCEDURE SEARCH_CAYTHUOC_HOCAYTHUOC
	@PRE NVARCHAR(100)
AS
BEGIN
	SELECT CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,MIN(ANH_CAYTHUOC.URL) AS URL
			 FROM CAYTHUOC INNER JOIN ANH_CAYTHUOC 
			ON CAYTHUOC.MA_CAY=ANH_CAYTHUOC.MA_CAY
			INNER JOIN HO_CAYTHUOC ON HO_CAYTHUOC.MA_HO = CAYTHUOC.MA_HO
			WHERE FREETEXT(HO_CAYTHUOC.TEN_HIEN_THI,@PRE)
			GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI
END
GO
------------------------------PROCEDURE SEARCH CAYTHUOC THEO BAI THUOC----------------
CREATE PROCEDURE SEARCH_CAYTHUOC_BAITHUOC
	@PRE NVARCHAR(200)
AS
BEGIN
	SELECT CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI,MIN(ANH_CAYTHUOC.URL) AS URL
			 FROM CAYTHUOC INNER JOIN ANH_CAYTHUOC 
			ON CAYTHUOC.MA_CAY=ANH_CAYTHUOC.MA_CAY
			INNER JOIN BAITHUOC ON BAITHUOC.MA_CAY = CAYTHUOC.MA_CAY
			WHERE FREETEXT(BAITHUOC.NOI_DUNG,@PRE)
			GROUP BY CAYTHUOC.MA_CAY,CAYTHUOC.TEN_HIEN_THI
END
GO

-------------------------------PROCEDURE CHO BANG BAITHUOC-------------------------------------

------------------------------PROCEDURE LAY TAT CA CAC BAI THUOC THEO MA CAY THUOC--------------
CREATE PROCEDURE GET_BAITHUOC_MACAY
	@MACAY INT
AS
BEGIN
	SELECT * FROM BAITHUOC WHERE MA_CAY=@MACAY
END
GO
SELECT * FROM BAITHUOC
GO
--------------------------------PROCEDURE LAY THEM BAI THUOC------------------------------
CREATE PROCEDURE INSERT_BAITHUOC
	@MA_CAY		  INT,
	@NOI_DUNG	  NTEXT
AS
BEGIN
	INSERT INTO BAITHUOC(MA_CAY,NOI_DUNG) VALUES (@MA_CAY,@NOI_DUNG)
END
GO

-----------------------------PROCEDURE UPDATE BAI THUOC THEO MA BAI THUOC---------------
CREATE PROCEDURE UPDATE_BAITHUOC
	@MA_BAI_THUOC INT,
	@NOI_DUNG	NTEXT
AS
BEGIN
	UPDATE BAITHUOC SET NOI_DUNG=@NOI_DUNG WHERE MA_BAI_THUOC=@MA_BAI_THUOC
END
GO

--------------------------------PROCEDURE DELETE BAI THUOC----------------------------
CREATE PROCEDURE DELETE_BAITHUOC
	@MA_BAI_THUOC INT
AS
BEGIN 
	DELETE BAITHUOC WHERE MA_BAI_THUOC=@MA_BAI_THUOC
END
GO
----------------------------PROCEDURE LẤY BÀI THUỐC THEO MA BAI THUỐC -------------------
CREATE PROCEDURE GET_BAITHUOC_MABAITHUOC
	@MA_BAI_THUOC INT
AS
BEGIN
	SELECT * FROM BAITHUOC WHERE MA_BAI_THUOC=@MA_BAI_THUOC
END
GO
--------------------------------PROCEDURE CHO BẢNG TÊN KHÁC--------------------------

-----------------------PROCEDURE LẤY TẤT CẢ CÁC TÊN KHÁC CỦA CÂY THUỐC THEO MÃ CÂY THUỐC TƯƠNG ỨNG----
CREATE PROCEDURE GET_TENKHAC_MACAY 
	@MA_CAY INT
AS
BEGIN
	SELECT * FROM TEN_DAN_GIAN WHERE MA_CAY = @MA_CAY
END
GO
SELECT * FROM TEN_DAN_GIAN
GO
---------------------PROCEDURE THÊM MỚI TÊN KHÁC ------------------------------------
CREATE PROCEDURE INSERT_TENKHAC
	@MA_CAY INT,
	@TEN	NVARCHAR(100)
AS
BEGIN
	INSERT INTO TEN_DAN_GIAN(MA_CAY,TEN) VALUES (@MA_CAY,@TEN)
END
GO
--------------------PROCEDURE SỬA TÊN KHÁC --------------------------------------------
CREATE PROCEDURE UPDATE_TENKHAC
	@MA_TEN INT,
	@TEN	NVARCHAR(100)
AS
BEGIN
	UPDATE TEN_DAN_GIAN SET TEN=@TEN WHERE MA_TEN=@MA_TEN
END
GO
----------------------PROCEDURE XOA TÊN KHÁC ------------------------------------------
CREATE PROCEDURE DELETE_TENKHAC
	@MA_TEN INT
AS
BEGIN
	DELETE TEN_DAN_GIAN WHERE MA_TEN=@MA_TEN
END
GO
-------------------PROCEDURE LẤY TÊN KHÁC THEO MÃ TÊN----------------------
CREATE PROCEDURE GET_TEN_MATEN
	@MA_TEN INT
AS
BEGIN
	SELECT * FROM TEN_DAN_GIAN WHERE MA_TEN=@MA_TEN
END
GO

---------------------------PROCEDURE CỦA ANH CÂY THUỐC---------------------------------

----------------------------PROCEDURE LẤY ẢNH -----------------------
CREATE PROCEDURE GET_ANH_MACAY
	@MA_CAY INT
AS
BEGIN 
	SELECT * FROM ANH_CAYTHUOC WHERE MA_CAY=@MA_CAY
END
GO
----------------------------PROCEDURE THÊM MỚI -----------------------------
CREATE PROCEDURE INSERT_ANH
	@MA_CAY		INT,
	@TEN_ANH	NVARCHAR(50),
	@URL		VARCHAR(100)
AS
BEGIN
	INSERT INTO ANH_CAYTHUOC(MA_CAY,TEN_ANH,URL) VALUES (@MA_CAY,@TEN_ANH,@URL)
END
GO

----------------------PROCEDURE XOA TÊN KHÁC ------------------------------------------
CREATE PROCEDURE DELETE_ANH
	@MA_ANH INT
AS
BEGIN
	DELETE ANH_CAYTHUOC WHERE MA_ANH=@MA_ANH
END
GO
-----------------------PROCEDURE LẤY ẢNH THEO MÃ ẢNH-----------------------------
CREATE PROCEDURE GET_ANH_MAANH
	@MA_ANH INT
AS 
BEGIN
	SELECT * FROM ANH_CAYTHUOC WHERE MA_ANH = @MA_ANH
END
GO
---------------PROCEDURE LẤY TẤT CẢ ANH-----------------------------------------
CREATE PROCEDURE GET_ALL_ANH
AS
BEGIN
	SELECT * FROM ANH_CAYTHUOC
END
GO


